<div>
    <h1>Descubre Angular</h1>
    <p>
      Angular es un popular framework de desarrollo de aplicaciones web y móviles creado por Google.
      Utiliza TypeScript, un superconjunto de JavaScript, para escribir código más robusto y escalable.
    </p>
    <p>
      Angular sigue el patrón de diseño MVC (Modelo-Vista-Controlador) y se basa en componentes,
      lo que facilita la creación de interfaces de usuario interactivas y dinámicas.
    </p>
    <p>
      Con Angular, puedes construir aplicaciones de una sola página (SPA) de manera eficiente,
      aprovechando su potente sistema de enrutamiento y su capacidad para gestionar el estado de la aplicación de forma efectiva.
    </p>
    <p>
      Además, Angular ofrece una gran cantidad de características útiles, como inyección de dependencias,
      enlaces de datos bidireccionales, validación de formularios, animaciones, y mucho más.
    </p>
    <p>
      Con su amplia comunidad de desarrolladores y su sólida documentación, Angular es una excelente opción
      para construir aplicaciones web modernas y escalables.
    </p>

    @defer (on viewport) {<app-comments></app-comments>}@placeholder{
        <p>.</p>
    }@loading {
        <p>Cargando comentarios...</p>
    }
    
  </div>
  
